*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* template */
body{
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
}

.header{
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: auto;
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    z-index: 2;
}

.svg-logo path{
    fill: white; 
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.hero{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    max-width: 100%;
    padding: 2em;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #ffffff;
    font-size: 2em;
    position: relative;
    margin-top: 7em; 
    z-index: 1;
}

/* menu burger */
.menuToggle{
    display: block;
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.mobileNav{
    display: none; 
    flex-direction: column;
    gap: 1em;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9F3FE5; 
    justify-content: flex-start; 
    align-items: center; 
    z-index: 1001; 
}

.mobileNav .dropdownMenu{
    display: block; 
    position: relative; 
    background-color: transparent;
    padding: 1em;
    width: 100%; 
}

.closeMenu{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.mobileNav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-top: 7em;
    padding-left: 3em;
}

.mobileNav ul li{
    position: relative; 
}

.mobileNav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center; 
}

.dropdownMenu li{
    margin: 0;
}

.dropdownMenu a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.desktopNav{
    display: none; 
}

.mobileNav.active{
    display: flex; 
}

.menu.scrolled{
    background-color: black; 
    transition: background-color 0.3s ease; 
    z-index: 1000; 
}

/* Page index  */

.aPropos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100vw; 
    height: auto;
    margin: 0; 
    padding-top: 3em;
}

.photoQuentin{
    position: relative;
    width: 100vw;
    height: auto;
}

.presentation{
    position: relative;
    width: 100vw;
    height: auto;
    background: #9e3fe5;
    overflow: hidden;
}

h2{
    font-family: Fira Sans Condensed, sans serif;
    font-weight: 800;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    line-height: 1.2;
}

.quentinProd{
    padding: 2em;
}

.aProposText{
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
    font-family: Fira Sans, sans serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
}


.aproposbtn{
    width: 150px;
    height: 60px;
    border: 2px solid white;
    background-color: transparent; 
    position: relative;
    color: white;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.2em; 
    font-weight: 550;
    font-family: 'Fira Sans', sans-serif; 
}

/* CARDS INDEX */

.cardsContainer{
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
    padding: 20px;
}

.card{
    background-color: #13181C; 
    color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 1); 
    padding: 20px;  
    max-width: 320px; 
    width: 100%; 
    height: 500px; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card.hovered{
    background: linear-gradient(to bottom, #9F3FE5, #FF7B30); 
    box-shadow: 0 0 50px rgba(0, 0, 0, 1); 
    transform: translateY(-5px); 
}

.card h3{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.5em;
    padding: 1em;
}

.card h6{
    padding-left: 2em;
}

.prix{
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 1em;
}

.description{
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9em;
    padding: 1em;
    text-align: left;
}

.description ul{
    list-style-type: disc; 
    padding-left: 20px; 
    margin: 0;
}

button.voirTout{
    background-color: #9F3FE5; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    align-self: center; 
}

button.voirTout:hover{
    background-color: #FF7B30; 
    color: white; 
}

.evenementSpecial{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px; 
    width: 100%;
    max-width: 368px; 
    height: auto; 
    padding: 2em; 
}

.buttonWrapper{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    z-index: 20;

}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    text-align: center;
}

.containerPresentation{
    margin-bottom: 30px;
}

.reseauxSociaux{
    display: flex;
    justify-content: center;
    gap: 15px;
}


.reseauxSociaux a{

    width: 30px;
    height: 30px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.facebook{
    fill: #FF7B30;
}

.instagram{
    fill: #FF7B30;
}

.tiktok{
    fill: #FF7B30; 
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    margin-bottom: 8px;
}

ul li a{
    color: #fff; 
    text-decoration: none; 
}

ul li a:hover{
    text-decoration: underline; 
}

ul li a:hover{
    text-decoration: underline;
}

.mentionsLegales{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 12px;
}

/* PRESTATIONS */

.informationPresta{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100vw; 
    background-color: #9e3fe5;
    height: auto;
    margin: 0; 
    padding-top: 3em;
    z-index: 1;

}

.titrePresta{
    display: none;
    background: linear-gradient(90deg, #9F3FE5, #FF7B30);
    width: auto;
    height: 150px;
}
  
.servicecontainer{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    width: 100vw;
    overflow: hidden;
    z-index: -1;
    
  }
  

.photomateriel{
    width: 100vw;
    height: auto; 
}
  
.servicequalitecontainer{
    display: flex;
    flex-direction: column; 
    width: 100vw;
    color: #ffffff; 
    padding: 2em;
    z-index: -1;
}

/* ACCORDEON */

.accordeon{
    margin: 20px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background 0.3s;
    cursor: pointer;
}

.question h3{
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
}

.reponse{
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out; 
    padding: 0; 
    background-color: transparent;
    margin-top: 10px;
}


.reponse.active{
    max-height: 1000px; 
    padding: 10px; 
    transition: max-height 0.5s ease-in, padding 0.5s ease-in;
}


.toggle-icon{
    font-size: 1.5em;
    color: #ffffff;
    margin-left: 10px;
    transition: transform 0.3s;
}

.question.active .toggle-icon{
    transform: rotate(45deg); 
}


/*  PAGE A PROPOS */



.aproposContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    background-color:#9F3FE5;
}

.presentationQuentin{
    width: 100vw;
    height: auto;
}

.monParcours{
    padding: 20px;
    background-color:#9F3FE5; 
    color: white;
}

.monParcours h2{
    font-size: 24px;
    margin-bottom: 15px;
}

.aProposText{
    margin-bottom: 20px;
}


.aproposbtn a{
    text-decoration: none;
    color: inherit;
}

.prestationCardContainer{
    display: flex;
    flex-direction: column;
    max-width: 350px;  
    margin: 20px auto;
    padding: 20px;
    background-color: 13181C; 
    border-radius: 12px; 
    border: 1px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.cards h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
}

.price{
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.price strong{
    font-size: 30px; 
    color: #fff;
}

.cards h4, .optionsPlus h4{
    font-size: 18px;
    margin-bottom: 10px;
    color: white;  
}

.serviceList, .options-list{
    list-style-type: none;
    padding-left: 0;
}

.serviceList li, .options-list li{
    margin-bottom: 10px;
    color: #fff;  
    line-height: 1.6;
    z-index: -1;
}

.optionsPlus{
    margin-top: 20px;
}

.options-list li{
    margin-bottom: 8px;
    padding-left: 15px;
    position: relative;
}

.options-list li::before{
    content: "•";
    position: absolute;
    left: 0;
    color: #ffffff; 
}

.containerChiffres {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    padding: 20px;      
}

.experience, .evenements, .satisfaction{
    margin-bottom: 20px; 
    text-align: center; 
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 2em;
}

.annee, .chiffre, .pourcentage{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-size: 90px;
    align-items: center;

}

/* CONTACT */

.containerContact{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff; 
    font-family: 'Fira Sans', sans-serif;
    padding: 20px;
    width: 100%;
    max-width: 440px; 
    margin: 20px auto; 
}

.form-group {
    margin-bottom: 15px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    font-family: 'Fira Sans', sans-serif; 
}

label{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    color: #000;
}

button[type=submit]{
    background-color: #FF7B30; 
    color: white; 
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover{
    background-color: #FF7B30; 
}

/* TEMPLATE CRUD */

.containerCrud{
    display: flex;
    flex-direction: column; 
    height: 100vh;
}
  
.containerMenuCrud{
    width: 100%; 
    background-color: #9F3FE5; 
    color: white;
    padding: 20px 0;
}
  
  
.containerMenuCrud .menuNavigation{
    width: 100%;
    padding: 0 5%; 
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
  
.containerMenuCrud .menuNavigation ul{
    list-style: none;
    width: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: white;
}
  
.containerMenuCrud .menuNavigation ul li{
    margin: 15px 0; 
}
  
.containerMenuCrud .menuNavigation ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 5px;
}
  
.containerMenuCrud .menuNavigation .adminSection{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
  
.containerMenuCrud .menuNavigation .adminSection .adminButton{
    background-color: white;
    color: black; 
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
  
.contentCrud{
    padding: 20px;
    flex-grow: 1; 
    background-color: white; 
}

.panelAdmin{
    font-size: 30px;
    padding-top:  2em;
    padding-bottom: 2em;
}

/* LOGIN */

.containerLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    min-height: 100vh; 
}
  
  .containerLogin .imageLogin{
    display: none; 
}
  
  
.containerLogin .containerConnexion{
    width: 100%; 
    background-color: #ffffff;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}
  
 
.containerLogin .containerConnexion .logoQuentin{
    padding: 30px;
    text-align: center; 
}
  
.containerLogin .containerConnexion h2{
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: extra-bold;
    text-align: center;
    color: #000;
}
  
.containerLogin .containerConnexion form{
    width: 100%; 
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.containerLogin .containerConnexion form label{
    margin-top: 10px;
    font-size: 14px;
}
  
.containerLogin .containerConnexion form input[type="text"],
.containerLogin .containerConnexion form input[type="email"],
.containerLogin .containerConnexion form input[type="password"]{
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
  

.containerLogin .containerConnexion form input[type="submit"]{
    margin-top: 20px;
    padding: 10px;
    background-color: #9F3FE5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
  
  
.containerLogin .containerConnexion form input[type="submit"]:hover{
    background-color: #7e32b2; 
}

.titreNoir{
    color: black;
}

.paragrapheNoir{
    color: black;
}

table{
    width: auto;
}

.mentionslegales{
    display: block;
    width: auto;
    padding: 20%;
    padding-top: 2%;
}

/* Style par défaut (mobile) */

/* Style du modal */
.modal{
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent */
    justify-content: center;
    align-items: center;
  }
  
  .modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 300px; /* Pour limiter la taille en mobile */
    text-align: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  }
  
  button{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #acceptCookies{
    background-color: #4CAF50; /* Bouton accepter en vert */
    color: white;
  }
  
 

@media (min-width: 768px){

    
    .hero{
        font-size: 70px; 
        width: 100%; 
        margin-top: 3em;
    }
    
        
    nav ul{
        gap: 2em;
    }
    
    .desktopNav{
        display: block;
    }

    .menuToggle{
        display: none;
    }


    .dropdown:hover .dropdownMenu{
        display: block; 
    }

    .dropdown{
        position: relative; 
    }
    
    
    .dropdownMenu {
        display: none;
        flex-direction: column;
        gap: 0.5em;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em;
        list-style: none;
        position: absolute; 
        top: 100%; 
        gap: 3em;
        z-index: 2;
    }
    
    

    .aPropos{
        padding-top: 6em;
        padding-bottom: 6em;
        gap: 50px;
    }

    .photoQuentin{
        border-radius: 300px;
        right: 4em;
        width: 414px;
    }

    .presentation{
        position: relative;
        width: 30%;
        background: transparent;
        overflow: hidden;
    }



    .aProposText{
        padding: 3em;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

    h2{
        font-size: 48px;
        line-height: 1.2;
        padding-bottom: 1em;
    }

    .quentinProd{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 1em;
        text-align: left;
    }


    .buttonWrapper{
        justify-content: left;
    
    }

    .aproposbtn{
        border: 2px solid #9F3FE5;
        background-color: #9F3FE5;
        transition: all 0.3s;
        cursor: pointer;
        font-size: 1em;
    
    }

    .aproposbtn:hover{
        background: linear-gradient(90deg, #9F3FE5, #FF7B30);
        color: white;
        font-size: 1.1em;
    }

    .cardsContainer{
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center;
        padding-top: 4em;
        }

    .card{
        max-width: 300px; 
        height: auto; 
        padding: 20px; 
    }

  
    .card h3 {
        padding: 0.5em 0  0.5em 1em; 
    }

    .card h6, .prix {
        margin: 0.5em 0;
    }

    button.voirTout {
        margin-top: 2em;
    }

    .evenementSpecial { 
        max-width: 100%;          
        height: auto;
    }

    .buttonWrapper.contact{
        display: flex;
        justify-content: center;
        
    }

    .footer {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start; 
    }

    .footer {
        flex-direction: row; 
        justify-content:space-around; 
        align-items: flex-start; 
        width: 100%;
    }
    .containerPresentation
    .containerService,
    .containerLiens
    .mentionsLegales{
        flex: 1;
        margin: 0 20px; 
    }

    .informationPresta{
        background-color: transparent; 
        width: 40%; 
        margin: 0 auto;
        text-align: center; 
    }

    .presentationPresta{
        width: 100%; 
    }


    .titrePresta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        margin-top: 4em;
    }

    .banderole{
        padding: 20px;
        font-size: 50px;
    }

    .pageApropos{
        width: 40%; 
        margin: 0 auto;
        text-align: center; 
        padding-bottom: 5em;
    }

    .aproposContainer {
        display: flex;               
        flex-direction: row;        
        max-width: 100%;
        margin: 0 auto;
        background-color: #9F3FE5; 
    }

    .presentationQuentin {
        width: 50%;                
        height: 12%;             
    }

    .monParcours {
        padding: 5em;           
        background-color: #9F3FE5; 
        color: white;              
        width: 50%;                
    }

    .monParcours h2 {
        font-size: 24px;          
        margin-bottom: 15px;      
    }


    .aproposbtn a {
        text-decoration: none;
        color: inherit;       
    }

    .prestationCardContainer{
        flex-direction: row;
        justify-content: space-between; 
        gap: 40px; 
    }

    .cards, .optionsPlus{
        flex: 1;
    }

    .optionsPlus{
        margin-top: 0; 
    }

    .prestationCardContainer {
        flex-direction: column;
        max-width: 1100px;
    }
    
    .servicecontainer {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    
    .servicequalitecontainer {
        position: relative;
        width: 50%; 
        padding-top: 0;
        padding-bottom: 3em;
        
    }
    
    .photomateriel {
        border-radius: 300px;
        width: 414px;
        height: 100%;
        margin-right: 4em;
        margin-top: 4em;
        align-self: flex-start; 
    }

    
    .containerChiffres {
        flex-direction: row;    
        justify-content: space-around; 
        align-items: flex-start; 
    }
    
    .experience, .evenements, .satisfaction{
        margin-bottom: 0; 
        text-align: left; 
    }
    .containerContact {
        margin: 40px auto;
        max-width: 900px; 
    }

    /* template crud  */

    .containerCrud{
        display: flex; 
        flex-direction: row; 
    }
      
      .containerMenuCrud{
        width: auto; 
        height: 100vh; 
        position: fixed; 
        background-color: #9F3FE5; 
    }
      
      .containerMenuCrud .menuNavigation{
        padding: 20px; 
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
    }
      
      .containerMenuCrud .menuNavigation ul{
        list-style: none; 
        margin: 0; 
        padding: 0;
        width: auto; 
    }
      
      .containerMenuCrud .menuNavigation ul li{
        margin: 5px 0; 
    }
      
      .containerMenuCrud .menuNavigation ul li a{
        font-size: 18px; 
        text-decoration: none; 
        color: white; 
        padding: 5px; 
    }
      
      .containerMenuCrud .menuNavigation .adminSection{
        width: auto;
        text-align: center;
        margin-bottom: 20px;
    }
      
      .containerMenuCrud .menuNavigation .adminSection .adminButton{
        background-color: white;
        color: black; 
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
      
      .contentCrud{
        margin-left: 300px; 
        padding: 40px; 
        background-color: white; 
    }

    /* LOGIN */

    .containerLogin{
        flex-direction: row; 
    }
    
    .containerLogin .imageLogin{
        display: block; 
        width: 40%; 
        background-image: url('/public/images/Quentin1.jpeg');
        background-size: cover;
        background-position: center;
      }
    
    .containerLogin .containerConnexion{
        width: 60%; 
        height: 100%; 
        padding: 40px;
        justify-content: center;
      }
    
    .containerLogin .containerConnexion form{
        width: 300px; 
    }

    .containerLogin .containerConnexion h2{
        font-weight: 600;
        font-size: 20px;
    }

    .modal-content{
        max-width: 500px; 
        padding: 30px;
      }
    
      button{
        padding: 12px 25px; 
        font-size: 16px;
      }


}

      
